<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<a class="top-left-button" href="/">HOME PAGE</a>

<div id="background-container"></div>
<div id="content-container">
    <div class="form">
        <h1 style="color: #5976cf">Knowledge network</h1>
        <p style="color: lightslategrey">Schedule data scraping for custom page.</p>
        <div class="form-group">
            <label for="linkInput">Wikipedia page url</label>
            <input name="url" type="text" class="form-control" id="linkInput">
        </div>
        <button id="submit-button" class="btn btn-primary">Submit</button>
    </div>
</div>

<script src="public/three.r92.min.js"></script>
<script src="public/vanta.net.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>
    document.getElementById('submit-button').addEventListener('click', async () => {
        let url = document.getElementById('linkInput').value;
        const response = await fetch('/api/schedule', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ url })
        });
        const json = await response.json();
        alert(json.message);
    });
</script>
<script>
    VANTA.NET({
        el: "#background-container",
        color: 0x5976cf,
        backgroundColor: 0xfafafa,
        points: 20.00,
        maxDistance: 15.00,
        spacing: 11.00
    });
</script>
<script>
    window.onload = function () {
        fadeOutLoader();
    };

    function fadeOutLoader () {
        let loader = document.getElementsByClassName('spinner-wrapper')[0];
        let opacity = 1;

        function fadeOut () {
            if (opacity <= 0) {
                loader.style.display = 'none';
                return;
            }
            loader.style.opacity = opacity.toString();
            opacity -= 0.02;
            window.requestAnimationFrame(fadeOut);
        }

        window.requestAnimationFrame(fadeOut);
    }
</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>