<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="public/style.css">
    <link rel="icon" href="public/landing.png">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Wikipedia knowledge graph visualization.">
    <meta name="author" content="Bartolomej Kozorog">

    <title>Wikipedia network</title>
</head>
<body>
<div id="main">

    <div id="form">
        <h3>Try custom wikipedia page</h3>
        <form method="GET" action="/graph">
            <div class="form-group">
                <label for="exampleInputEmail1">Wikipedia url:</label>
                <input name="link" type="text" id="exampleInputEmail1" placeholder="Enter website url">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <div id="pages">
        <h3>Existing pages</h3>
        <ol>
            {{#each nodes}}
                <li><a href="/node?link={{url}}">{{title}}</a></li>
            {{/each}}
        </ol>
    </div>

</div>

</body>
<script src="public/three.r92.min.js"></script>
<script src="public/vanta.net.min.js"></script>
<script>
    VANTA.NET({
        el: "#main",
        backgroundColor: 0x00011,
        points: 8.00,
        maxDistance: 25.00,
        spacing: 25.00
    });
</script>
</html>