<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="public/images/network.png">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Personal website with projects, blogs and ideas.">
    <meta name="author" content="Bartolomej Kozorog">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="Wikipedia Graph"/> <!-- website name -->
    <meta property="og:site" content="http://thebartdev.com:3333/"/> <!-- website link -->
    <meta property="og:title" content="Wikipedia Graph"/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="Visualized network of related Wikipedia pages."/>
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="public/images/network.png"/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="http://thebartdev.com:3333/"/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="blog"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .rotate:hover {
            transform: rotate(360deg);
            transition: transform 0.5s ease-in-out;
        }
    </style>
    <title>Knowledge Network Visualization</title>
    <link rel="stylesheet" href="public/stylesheets/style.css">
</head>
<body>
{{{body}}}
</body>
</html>
